@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<GoodsIssueReceivable>()
    .Name("GoodsIssueReceivableGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.GoodsIssueReference).Title("Phiếu XK").Width(40);
        columns.Bound(c => c.GoodsIssueEntryDate).Title("Ngày").Width(90).Format("{0:" + SettingsManager.DateTimeFormat + "}");
        columns.Bound(c => c.CustomerName).Title("Khách hàng").Width(150);
        columns.Bound(c => c.CustomerBillingAddress).Title("Địa chỉ").Width(180);
        columns.Bound(c => c.Description).Title("Diễn giải").Width(60);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập số phiếu xuất kho:</label>
                <input id="goodsIssueReferenceSearchBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="goodsIssueReferenceSearchBox_KeyUp()" />
            </div>
        </text>);
    })
        .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
        .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetGoodsIssueReceivables", "ReceiptAPIs", new { area = "Accounts" }).Data("onGetGoodsIssueReceivables"))
            .ServerOperation(true)
        )
        .Selectable()
)

<script type="text/javascript">
    function onGetGoodsIssueReceivables(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            receiptID: $("#ReceiptID").val(),
            goodsIssueReference: $("#goodsIssueReferenceSearchBox").val()
        };
    }

    function goodsIssueReferenceSearchBox_KeyUp() {
        if ($("#goodsIssueReferenceSearchBox").val().length === 0 || $("#goodsIssueReferenceSearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#GoodsIssueReceivableGrid").data("kendoGrid").dataSource.read();
        }
    }

    $("#GoodsIssueReceivableGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>
