@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@ViewBag.SystemInfos</p>

<p style="font-size:xx-small; margin-top: 27px;" >@ViewBag.SecureSystemInfos</p>

<p>@*Use this area to provide additional information.*@</p>
