@model TotalPortal.Areas.Commons.ViewModels.Helpers.IPaymentTermDropDownViewModel

<div class="form-group">
    @Html.LabelFor(model => model.PaymentTermID, (ViewData["SingleColumn"] != null && (bool)ViewData["SingleColumn"] == true ? null : (object)new { @class = "right-panel-label" }))
    <div class="div-input">
        @Html.Kendo().DropDownListFor(m => m.PaymentTermID).BindTo(Model.PaymentTermSelectList).HtmlAttributes((ViewData["SingleColumn"] != null && (bool)ViewData["SingleColumn"] == true ? (object)new { @class = "left-panel-input" } : (object)new { @class = "right-panel-input" }))
    </div>
    <div class="div-validation-message">
        @Html.ValidationMessageFor(model => model.PaymentTermID, "", new { @class = "text-danger" })
    </div>
</div>