@model TotalPortal.Areas.Commons.ViewModels.Helpers.IPreparedPersonDropDownViewModel

<div class="form-group">
    @Html.LabelFor(model => model.PreparedPersonID, new { @class = "right-panel-label" })
    <div class="div-input">
        @Html.Kendo().DropDownListFor(m => m.PreparedPersonID).BindTo(Model.AspNetUserSelectList).HtmlAttributes(new { @class = "right-panel-input" })
    </div>
    <div class="div-validation-message">
        @Html.ValidationMessageFor(model => model.PreparedPersonID, "", new { @class = "text-danger" })
    </div>
</div>

