@model string

<div class="form-group">
    <div class="right-panel-label right-panel-label-whole-width"> @Html.LabelFor(model => model) </div>
    <div class="div-input">
        @(Html.Kendo().AutoCompleteFor(model => model)
            .Filter("contains")
            .MinLength(0)
            .Placeholder("Vui lòng nhập ít nhất 1 ký tự...")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetAddressees", "CustomerAPIs", new { area = "Commons" }).Data(@<text> function(e) {return {customerID: $("#Receiver_CustomerID").val(), searchText: e.filter.filters[0].value};} </text>);//Send parameter to controller search action
                })
                .ServerFiltering(true);
            })
            .HtmlAttributes((ViewData["AddresseeReadonly"] != null && (bool)ViewData["AddresseeReadonly"] == true ? (object)new { @class = "right-panel-input right-panel-input-whole-width", @readonly = "readonly" } : (object)new { @class = "right-panel-input right-panel-input-whole-width" }))
        )        
    </div>
    <div class="div-validation-message">
        @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
    </div>
</div>
