@model TotalDTO.BaseDTO

@if (Model.Approvable || Model.UnApprovable)
{
    <div class="div-button">
        <button type="submit" form="MainForm" class="k-button custom-button"> <img src="~/Content/Images/Mains/@(@Model.Approvable ? "Actions-ok-icon32.png" : "Cross-icon-cancel32.png")" alt="" /> Xác nhận @(Model.Approvable ? "" : "hủy") duyệt dữ liệu </button>
    </div>
}
else
{
    <div id="div-DeleteConfirm">
        <img src="~/Content/Images/New/alert1.png" alt="Alert" /><label>Dữ liệu này đã bị khóa.</label>
    </div>
}



