@model TotalDTO.BaseDTO

<div class="single-full-panel">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        if (Model.Deletable)
        {
            <div id="div-DeleteConfirm">
                <img src="~/Content/Images/New/alert1.png" alt="Alert" />
                <label>Vui lòng xác nhận xóa dữ liệu. Lưu ý: sau khi xóa dữ liệu sẽ không thể phục hồi được.</label>
            </div>

            <button type="submit" class="k-button custom-button"> <img src="~/Content/Images/New/Delete32m.png" alt="" /> Xác nhận xóa </button>
        }
        else
        {
            <div id="div-DeleteConfirm">
                <img src="~/Content/Images/New/alert1.png" alt="Alert" />
                <label>Bạn không được xóa dữ liệu này.</label>
            </div>
        }
    }
</div>
