
@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<PendingDeliveryAdviceCustomer>()
    .Name("pendingDeliveryAdviceCustomerGrid")

    .Columns(columns =>
    {
        columns.Bound(c => c.WarehouseCode).Title("Kho").Width(35);
        columns.Bound(c => c.CustomerCode).Title("Mã khách hàng").Width(90);
        columns.Bound(c => c.CustomerName).Title("Tên khách hàng").Width(200);
        columns.Bound(c => c.TradePromotionSpecs).Title("CK tổng").Width(100);
        columns.Bound(c => c.Addressee).Title("Người nhận").Width(100);
        columns.Bound(c => c.ReceiverDescription).Title("Giao hàng").Width(180);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập mã, tên, MST, địa chỉ, địa bàn khách hàng, hoặc mã kho</label>
                <input id="pendingDeliveryAdviceCustomerFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="pendingDeliveryAdviceCustomerFilter_KeyUp()" />
            </div>
        </text>);
    })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetCustomers", "GoodsIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetCustomers"))
        .ServerOperation(false)//If this is TRUE: Apply filter to datasource will call Ajax to get new datasource result. If this is FALSE: filter will run on client
    )
    .Selectable()
)

@Html.Hidden("deliveryAdviceCustomerSearchText", "")

<script type="text/javascript">
    function onAdditionalGetCustomers(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function pendingDeliveryAdviceCustomerFilter_KeyUp() {
        var pendingDeliveryAdviceCustomerFilter = $("#pendingDeliveryAdviceCustomerFilter").val(), gridDetails = $("#pendingDeliveryAdviceCustomerGrid").data("kendoGrid");

        if (pendingDeliveryAdviceCustomerFilter && pendingDeliveryAdviceCustomerFilter.length >= "@SettingsManager.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "CustomerCode", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "CustomerName", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "CustomerVATCode", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },

                    { field: "ReceiverCode", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "ReceiverName", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "ReceiverVATCode", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },

                    { field: "WarehouseCode", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },

                    { field: "Addressee", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },

                    { field: "ShippingAddress", operator: "contains", value: pendingDeliveryAdviceCustomerFilter }
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }

    $("#pendingDeliveryAdviceCustomerGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>