@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<PendingDeliveryAdvice>()
    .Name("pendingDeliveryAdviceGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.WarehouseCode).Title("Kho").Width(35);
        columns.Bound(c => c.DeliveryAdviceReference).Title("Số phiếu").Width(40);
        columns.Bound(c => c.DeliveryAdviceEntryDate).Title("Ngày").Width(80).Format("{0:" + SettingsManager.DateTimeFormat + "}");
        columns.Bound(c => c.CustomerName).Title("Khách hàng").Width(120);
        columns.Bound(c => c.Addressee).Title("Người nhận").Width(80);
        columns.Bound(c => c.ReceiverDescription).Title("Giao hàng").Width(150);
        columns.Bound(c => c.Description).Title("Ghi chú").Width(100);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>            
            <div class="toolbar" style="float: right;">
                <label>Nhập số phiếu ĐNGH/ hoặc mã, tên hoặc MST khách hàng, đơn vị nhận, địa chỉ giao hàng, hoặc mã kho</label>
                <input id="pendingDeliveryAdviceFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="pendingDeliveryAdviceFilter_KeyUp()" />
            </div>
        </text>);
    })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetDeliveryAdvices", "GoodsIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetDeliveryAdvices"))
        .ServerOperation(false)//If this is TRUE: Apply filter to datasource will call Ajax to get new datasource result. If this is FALSE: filter will run on client
    )
    .Selectable()
)

@Html.Hidden("deliveryAdviceSearchText", "")

<script type="text/javascript">
    function onAdditionalGetDeliveryAdvices(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function pendingDeliveryAdviceFilter_KeyUp() {
        var pendingDeliveryAdviceFilter = $("#pendingDeliveryAdviceFilter").val(), gridDetails = $("#pendingDeliveryAdviceGrid").data("kendoGrid");

        if (pendingDeliveryAdviceFilter && pendingDeliveryAdviceFilter.length >= "@SettingsManager.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "DeliveryAdviceReference", operator: "contains", value: pendingDeliveryAdviceFilter },

                    { field: "CustomerCode", operator: "contains", value: pendingDeliveryAdviceFilter },
                    { field: "CustomerName", operator: "contains", value: pendingDeliveryAdviceFilter },
                    { field: "CustomerVATCode", operator: "contains", value: pendingDeliveryAdviceFilter },

                    { field: "ReceiverCode", operator: "contains", value: pendingDeliveryAdviceFilter },
                    { field: "ReceiverName", operator: "contains", value: pendingDeliveryAdviceFilter },
                    { field: "ReceiverVATCode", operator: "contains", value: pendingDeliveryAdviceFilter },

                    { field: "WarehouseCode", operator: "contains", value: pendingDeliveryAdviceFilter },

                    { field: "Addressee", operator: "contains", value: pendingDeliveryAdviceFilter },
                    { field: "ShippingAddress", operator: "contains", value: pendingDeliveryAdviceFilter }
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }

    
    $("#pendingDeliveryAdviceGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>
