
@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<PendingDeliveryAdviceCustomer>()
    .Name("pendingDeliveryAdviceCustomerGrid")

    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerName).Title("Khách hàng").Width(180);
        columns.Bound(c => c.ReceiverCode).Title("Mã ĐVN").Width(60);
        columns.Bound(c => c.ReceiverName).Title("Đơn vị nhận").Width(160);
        columns.Bound(c => c.ShippingAddress).Title("Địa chỉ giao hàng").Width(190);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập mã, tên, MST, địa chỉ, hoặc địa bàn khách hàng</label>
                <input id="pendingDeliveryAdviceCustomerFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="pendingDeliveryAdviceCustomerFilter_KeyUp()" />
            </div>
        </text>);
    })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetCustomers", "GoodsIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetCustomers"))
        .ServerOperation(false)//If this is TRUE: Apply filter to datasource will call Ajax to get new datasource result. If this is FALSE: filter will run on client
    )
    .Selectable()
)

@Html.Hidden("deliveryAdviceCustomerSearchText", "")

<script type="text/javascript">
    function onAdditionalGetCustomers(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function pendingDeliveryAdviceCustomerFilter_KeyUp() {
        var pendingDeliveryAdviceCustomerFilter = $("#pendingDeliveryAdviceCustomerFilter").val(), gridDetails = $("#pendingDeliveryAdviceCustomerGrid").data("kendoGrid");

        if (pendingDeliveryAdviceCustomerFilter && pendingDeliveryAdviceCustomerFilter.length >= "@SettingsManager.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "CustomerCode", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "CustomerName", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "CustomerVATCode", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "CustomerTelephone", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "CustomerBillingAddress", operator: "contains", value: pendingDeliveryAdviceCustomerFilter },
                    { field: "CustomerEntireTerritoryEntireName", operator: "contains", value: pendingDeliveryAdviceCustomerFilter }
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }

    $("#pendingDeliveryAdviceCustomerGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>